/* 
==========
VARIABLES
==========
*/
:root {
  --clr-primary: rgb(202, 47, 16);
}

/* 
==========
RESET
==========
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.header {
  background: var(--clr-primary);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.header-content {
  color: white;
  display: grid;
  gap: 1rem 0;
  text-transform: capitalize;
}
.header-content h1 {
  letter-spacing: 0.25rem;
  font-weight: 200;
}
.header-content p {
  max-width: 28rem;
  word-spacing: 0.25rem;
}

/* 
===============
back section
===============
*/
.back-section {
  height: 100px;
  display: grid;
  align-items: center;
  padding-left: 1rem;
}
.back-section a {
  padding: 0.75rem 1.25rem;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  justify-self: start;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
}
.back-section a:hover {
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--clr-primary);
  color: white;
  background: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(
        to Bottom,
        rgba(202, 47, 16, 0.8),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/image-2.jpeg") center/cover no-repeat;
    height: 100vh;
  }
  .header-content h1 {
    font-size: 4rem;
  }
}
